<form method="post" action="{{ path('app_dashboard_delete_structure', {'id': structure.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette structure ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ structure.id) }}">
	<button class="btn btn-outline-danger mt-2">Supprimer</button>
</form>
