@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@font-face {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 400;
    src: local('Bahnschrift'), url('fonts/bahnschrift/BAHNSCHRIFT\ 1.TTF') format('ttf');
}

@font-face {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 400;
    src: local('Bahnschrift'), url('fonts/bahnschrift/BAHNSCHRIFT\ 10.ttf') format('tff');
}

@font-face {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 400;
    src: local('Bahnschrift'), url('fonts/bahnschrift/BAHNSCHRIFT\ 11.ttf') format('tff');
}

@font-face {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 400;
    src: local('Bahnschrift'), url('fonts/bahnschrift/BAHNSCHRIFT\ 12.ttf') format('tff');
}

@font-face {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 400;
    src: local('Bahnschrift'), url('fonts/bahnschrift/BAHNSCHRIFT\ 13.ttf') format('tff');
}

@font-face {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 400;
    src: local('Bahnschrift'), url('fonts/bahnschrift/BAHNSCHRIFT\ 14.ttf') format('tff');
}

@font-face {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 400;
    src: local('Bahnschrift'), url('fonts/bahnschrift/BAHNSCHRIFT\ 2.ttf') format('tff');
}

@font-face {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 400;
    src: local('Bahnschrift'), url('fonts/bahnschrift/BAHNSCHRIFT\ 3.ttf') format('tff');
}

@font-face {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 400;
    src: local('Bahnschrift'), url('fonts/bahnschrift/BAHNSCHRIFT\ 4.ttf') format('tff');
}

@font-face {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 400;
    src: local('Bahnschrift'), url('fonts/bahnschrift/BAHNSCHRIFT\ 5.ttf') format('tff');
}

@font-face {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 400;
    src: local('Bahnschrift'), url('fonts/bahnschrift/BAHNSCHRIFT\ 6.ttf') format('tff');
}

@font-face {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 400;
    src: local('Bahnschrift'), url('fonts/bahnschrift/BAHNSCHRIFT\ 7.ttf') format('tff');
}

@font-face {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 400;
    src: local('Bahnschrift'), url('fonts/bahnschrift/BAHNSCHRIFT\ 8.ttf') format('tff');
}

@font-face {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 400;
    src: local('Bahnschrift'), url('fonts/bahnschrift/BAHNSCHRIFT\ 9.ttf') format('tff');
}

@font-face {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: 400;
    src: local('Bahnschrift'), url('fonts/bahnschrift/BAHNSCHRIFT.ttf') format('tff');
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

.about-section,
.social-section,
.events-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

h2,
h3,
h4 {
    font-family: "Bahnschrift";
    font-weight: 600;
}

a {
    color: #89c541;
    text-decoration: underline;
}

a:hover {
    color: #aed77b;
    text-decoration: none;
}

.btn-success,
.btn-outline-success {
    font-family: 'Bahnschrift', sans-serif;
    border-color: #89c541;
}

.btn-success {
    background-color: #89c541;
}

.navbar-light .navbar-text a {
    color: #89c541;
    font-weight: 400;
}

.btn-success:hover,
.btn-outline-success:hover {
    font-family: 'Bahnschrift', sans-serif;
    border-color: #aed77b;
}

.btn-success:hover {
    background-color: #aed77b;
}

.btn-outline-success:hover {
    background-color: transparent;
}

.navbar-light .navbar-text a:hover {
    color: #aed77b;
    font-weight: 400;
}

.btn-success:focus,
.btn-outline-success:focus {
    border-color: #75a22f;
}

.btn-success:focus {
    background-color: #75a22f;
}

.navbar-light .navbar-text a:focus {
    color: #75a22f;
    font-weight: 400;
}

.btn-primary {
    background-color: #f8b864;
    border-color: #f8b864;
    font-family: Jost, sans-serif;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #ffb451;
    border-color: #ffb451;
    color: #fff;
}

/* Navigation */

.navbar {
    font-family: 'Poppins', sans-serif;
}

.navbar .active {
    font-weight: 600;
}

/* End Navigation */

/* Hero Section */
.hero-section {
    padding-top: 6.5rem;
    background-image: url("img/fitness-room.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    color: black;
}

/* End Hero Section */

/* About Section */

.about-section .card {
    border: none;
}

/* End About Section */

/* Social Section */
.social-section {
    background-color: black;
    color: white;
}

.social-section a {
    color: white;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: normal;
}

/* End Social Section */

/* Footer Section */

footer h4 {
    font-size: 1rem;
}

/* End Foot Section */

/* Pager header Section */

.pager-header {
    background-image: url("assets/img/events-header.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    background-size: cover;
    min-height: 300px;
    display: flex;
    align-items: center;
    color: white;
}

/* End Pager header Section */

/* Events Section */

.event-details {
    background-color: #fafafa;
    padding: 30px 15px;
    border: 1px dashed #ddd;
}

.event-title {
    font-family: 'Bahnschrift', sans-serif;
    font-size: 1.5em;
}

.event-info i {
    color: #f8b864;
    margin-right: 10px;
}

.event-info p {
    margin-bottom: 5px;
    font-family: Jost, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #999;
}

.event-venue {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #999;
}

/* End Events Section */