<footer class="text-center text-lg-start text-muted">
	<div class="container text-center text-md-start mt-5">
		<div class="row mt-3">
			<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
				<h4 class="text-uppercase fw-bold mb-4">
					Association "vers le sport"
				</h4>
				<p>
					Association sportive créée en 1987 permettant aux enfants de pratiquer une activité sportive.
				</p>
			</div>
			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
				<h4 class="text-uppercase fw-bold mb-4">
					Navigation
				</h4>
				<p>
					<a href="index.html" class="text-reset">Accueil</a>
				</p>
				<p>
					<a href="evenements.html" class="text-reset">&Eacute;vénements</a>
				</p>
			</div>

			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
				<h4 class="text-uppercase fw-bold mb-4">
					Liens utiles
				</h4>
				<p>
					<a href="#!" class="text-reset">Nous soutenir</a>
				</p>
				<p>
					<a href="#!" class="text-reset">Partenaires</a>
				</p>
				<p>
					<a href="#!" class="text-reset">Mentions légales</a>
				</p>
				<p>
					<a href="#!" class="text-reset">Aide</a>
				</p>
			</div>

			<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
				<h4 class="text-uppercase fw-bold mb-4">
					Contact
				</h4>
				<p>
					<i class="fas fa-home me-3"></i>10 rue du sport, 67300 Schiltigheim</p>
				<p>
					<i class="fas fa-envelope me-3"></i>
					<a class="text-reset" href="mailto:info@verslesport.fr">info@verslesport.fr</a>
				</p>
				<p>
					<i class="fas fa-phone me-3"></i>
					<a class="text-reset" href="tel:+33123456789">01 23 45 67 89</a>
				</p>
				<p>
					<i class="fas fa-print me-3"></i>01 23 45 67 90</p>
			</div>
		</div>
	</div>

	<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
		&copy; 2022
		<a class="text-reset fw-bold" href="{{ path('app_home')}}">FJ Fitness</a>
	</div>
</footer>
