<form method="post" action="{{ path('app_dashboard_admin_delete_franchise', {'id': franchise.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette franchise ainsi que toutes les structures associées ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ franchise.id) }}">
	<button class="btn btn-outline-danger mt-2">Supprimer</button>
</form>
